{
  "parser": "babel-eslint",
    "env": {
        "browser": false,
        "commonjs": true,
        "es2021": true,
        "jest": true
    },
    "extends": "airbnb-base",
    "parserOptions": {
        "sourceType": "module",
        "babelOptions": {
            "configFile": "./babel.config.json"
        }
    },
    "globals": {
        "process": true,
        "describe": true,
        "test" : true,
        "expect": true,
        "beforeAll": true,
        "afterAll": true,
        "it": true
    },
    "rules": {
    }
}
